@font-face {
  font-family: lucida;
  font-display: swap;
  src: url("../fonts/lucida-bright-demibold.woff2") format("woff2"), url("../fonts/lucida-bright-demibold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #f7f6f5;
}

.wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

header {
  margin-top: 45px;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrapper .logo {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 46px;
  color: #000000;
}

header .wrapper .nav-list {
  width: 528px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrapper .nav-list a {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 30px;
  color: #000000;
}

header .wrapper .user {
  width: 177px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrapper .user svg {
  width: 28px;
  height: 28px;
  fill: #161616;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

header .wrapper .user svg:hover {
  fill: #FF6155;
}

.home .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .wrapper .description {
  width: 623px;
}

.home .wrapper .description h2 {
  font-family: Lucida, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 75px;
  line-height: 110%;
  color: #161616;
}

.home .wrapper .description p {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 160%;
  color: #6E6E6E;
  margin-top: 30px;
  margin-bottom: 50px;
}

.home .wrapper .description .buttons button {
  width: 200px;
  height: 70px;
  border: none;
  background-color: transparent;
  color: #fff;
}

.home .wrapper .description .buttons button:first-child {
  background-image: url("../img/icons/icons.svg#button1-home");
  background-repeat: no-repeat;
}

.home .wrapper .description .buttons button:last-child {
  background-image: url("../img/icons/icons.svg#button2-home");
  background-repeat: no-repeat;
}

.products {
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 191px;
}

.products .wrapper .company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products .wrapper .product {
  margin-top: 137px;
}

.products .wrapper .product .infoProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products .wrapper .product .infoProduct .description .title {
  width: 600px;
}

.products .wrapper .product .infoProduct .description .title h2 {
  font-family: "Lucida Bright";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 140%;
  color: #181817;
}

.products .wrapper .product .infoProduct .description .title p {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 160%;
  color: rgba(0, 0, 0, 0.7);
}

.products .wrapper .product .infoProduct .description .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.no-webp .products .wrapper .product .infoProduct .description .button button {
  background-image: url("../img/button-products.png"); }

.products .wrapper .product .infoProduct .description .button button {
  width: 200px;
  height: 77px;
  color: #fff;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  cursor: pointer;
  font-family: "Darker Grotesque", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  text-align: center;
}

.products .wrapper .product .infoProduct .description .button img {
  position: relative;
  -webkit-transform: translateX(-40px);
      -ms-transform: translateX(-40px);
          transform: translateX(-40px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.products .wrapper .product .infoProduct .description .button:hover img {
  -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
          transform: translateX(-20px);
}

.top-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f6f5f1;
}

.top-products .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-products .wrapper .description .title {
  width: 537px;
}

.top-products .wrapper .description .title h2 {
  font-family: "Lucida Bright";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 130%;
  color: #181817;
}

.top-products .wrapper .description .title p {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 160%;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 26px;
  margin-bottom: 40px;
}

.top-products .wrapper .description .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.no-webp .top-products .wrapper .description .button button {
  background-image: url("../img/button-products.png"); }

.top-products .wrapper .description .button button {
  width: 200px;
  height: 77px;
  color: #fff;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  cursor: pointer;
  font-family: "Darker Grotesque", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  text-align: center;
}

.top-products .wrapper .description .button img {
  position: relative;
  -webkit-transform: translateX(-40px);
      -ms-transform: translateX(-40px);
          transform: translateX(-40px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.top-products .wrapper .description .button:hover img {
  -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
          transform: translateX(-20px);
}

.search-container {
  background-color: #fff;
  padding-top: 115px;
  padding-bottom: 90px;
}

.search-container .wrapper {
  width: 744px;
  margin: 0 auto;
  text-align: center;
}

.search-container .wrapper h2 {
  font-family: "Lucida Bright";
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 70px;
  color: #181817;
}

.search-container .wrapper p {
  width: 545px;
  margin: 0 auto;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 160%;
  color: rgba(0, 0, 0, 0.7);
}

.search-container .wrapper .search {
  border: 1px solid #D1D1D1;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-container .wrapper .search input {
  border: none;
  outline: none;
  margin: 33px 0;
  margin-left: 50px;
  width: 421px;
}

.search-container .wrapper .search button {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 37px 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  background-color: #161616;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

footer .wrapper .information {
  margin-top: 81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .wrapper .information .address h2 {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 46px;
  color: #000000;
  margin-bottom: 30px;
}

footer .wrapper .information .address p {
  font-family: "Darker Grotesque", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 150%;
  color: #0B2626;
  width: 390px;
  margin-bottom: 20px;
}

footer .wrapper .information .address p:last-child {
  font-size: 22px;
  margin: 0;
  width: 100%;
}

footer .wrapper .information .about h2,
footer .wrapper .information .support h2,
footer .wrapper .information .contacts h2 {
  font-family: "Darker Grotesque", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 47px;
  color: #0B2626;
  margin-bottom: 30px;
}

footer .wrapper .information .about h3,
footer .wrapper .information .support h3,
footer .wrapper .information .contacts h3 {
  font-family: "Darker Grotesque", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  color: #0B2626;
  margin-bottom: 20px;
}

footer .wrapper .information .about h3:last-child,
footer .wrapper .information .support h3:last-child,
footer .wrapper .information .contacts h3:last-child {
  margin: 0;
}

footer .wrapper .information .contacts h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .wrapper .information .contacts h3 img {
  margin-right: 18px;
}

footer .wrapper .links {
  text-align: center;
  margin-top: 70px;
  padding-top: 30px;
  padding-bottom: 35px;
  border-top: 0.6px solid #8F8F8F;
}

footer .wrapper .links a {
  font-family: "Darker Grotesque", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  color: #0B2626;
  padding-right: 12px;
  padding-left: 10px;
  border-right: 1.5px solid #0B2626;
}

footer .wrapper .links a:first-child {
  padding-left: 0;
}

footer .wrapper .links a:last-child {
  padding: 0;
  padding-left: 10px;
  border: none;
}

.webp .products .wrapper .product .infoProduct .description .button button { background-image: url(../img/button-products.webp); }

.webp .top-products .wrapper .description .button button { background-image: url(../img/button-products.webp); }